body{
    background-color: black;
    margin: 0;
    padding: 0;
}
path{
    visibility: hidden;
}
svg{
    position: fixed;
}
#video{
    width: 50%;
    position: fixed;
    overflow: hidden;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
text{
    color: black;
}


